table.diff {
    border: none;
    font-family: Monospace;
    white-space: pre;
    color: #ecf0f1;
}
table.diff, table.diff > thead {
    background-color: #243341;
}
.immediate {
    color: lightblue;
}
.stack {
    color: yellow;
}
.register {
    color: yellow;
}
.diff-change {
    color: #70dcff;
}
.diff-add {
    color: #2ecc71;
}
.diff-remove {
    color: #e74c3c;
}
.source-filename {
    font-weight: bold;
}
.source-function {
    font-weight: bold;
    text-decoration: underline;
}
.source-other {
    font-style: italic;
}
.rotation-0 {
    color: #ff31d5;
}
.rotation-1 {
    color: #4cffff;
}
.rotation-2 {
    color: #00b92e;
}
.rotation-3 {
    color: #e74c3c;
}
.rotation-4 {
    color: #f1c40f;
}
.rotation-5 {
    color: #bc9dff;
}
.rotation-6 {
    color: #68b1ff;
}
.rotation-7 {
    color: #a3ff79;
}
.rotation-8 {
    color: #95a5a6;
}
