body {
    background-color: #34495e;
}

/* status style */

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#status-container {
    position: fixed;
    background-color: black;
    color: white;
    left: 0;
    top: 0;
    z-index: 100;
}

.status-element {
    animation: fadein 0.5s forwards;
    padding: 3px;
}

.communication-error-retry-now {
    cursor: pointer;
    text-decoration: underline;
}

/* settings style */

#settings {
    background-color: black;
    position: fixed;
    right: 0;
    top: 0;
}

#target-function {
    width: 200px;
}

/* branch indicators style */

.branch-indicator:not(.ignore) {
    display: inline-block;
    padding: 10px 15px;
    margin: -10px -15px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: color 0.1s;
}

.branch-indicator-wrapper {
    padding: 0 2px;
    margin: 0 -2px;
    background-color: transparent;
    transition: background-color 0.1s;
}

.branch-indicator-wrapper.branch-highlight-temp {
    background-color: rgb(158, 158, 158);
}

.branch-indicator-wrapper.branch-highlight-stay {
    background-color: rgb(224, 224, 224);
    font-weight: bold;
}

.branch-indicator-wrapper.branch-highlight-temp>.branch-indicator,
.branch-indicator-wrapper.branch-highlight-stay>.branch-indicator {
    color: black;
}

.origin-branch-picker {
    position: absolute;
    z-index: 5;
    background-color: #34495e;
    font-family: Monospace;
    color: white;
}

.origin-branch-picker td {
    cursor: pointer;
}

.origin-branch-picker td:hover {
    font-weight: bold;
}

/* diff style */

table.diff {
    border: none;
    font-family: Monospace;
    white-space: pre;
    color: #ecf0f1;
}

table.diff, table.diff > thead {
    background-color: #243341;
}

table.diff>thead {
    position: sticky;
    top: -1px;
    padding-top: 1px;
}

.immediate {
    color: lightblue;
}
.stack {
    color: yellow;
}
.register {
    color: yellow;
}

.diff-change {
    color: #70dcff;
}
.diff-add {
    color: #2ecc71;
}
.diff-remove {
    color: #e74c3c;
}

.source-filename {
    font-weight: bold;
}
.source-function {
    font-weight: bold;
    text-decoration: underline;
}
.source-other {
    font-style: italic;
}

.rotation-0 {
    color: #ff31d5;
}
.rotation-1 {
    color: #4cffff;
}
.rotation-2 {
    color: #00b92e;
}
.rotation-3 {
    color: #e74c3c;
}
.rotation-4 {
    color: #f1c40f;
}
.rotation-5 {
    color: #bc9dff;
}
.rotation-6 {
    color: #68b1ff;
}
.rotation-7 {
    color: #a3ff79;
}
.rotation-8 {
    color: #95a5a6;
}
